/* About Me Section */
.about-me{
    position: relative;
    padding: 0px;
    height:auto;
    min-height:100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-me::before{
    content: "";
    background-image: url(./assets/4E7A7C25-6046-4C9A-86CE-F6DC515758E4.jpeg);
    background-size: cover;
    background-position: 0% 33%;
    position:absolute;
    top: 5px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .4;
}

.about-me p {
    position: relative;
    color: rgb(59, 59, 59);
    font-size: 110%;
    line-height:2;
    text-align: left;
    width: 60%;
    margin-left: 1rem;
    padding-top: 30px;
}

.about-me h1 {
    position: relative;
    color: rgb(59, 59, 59);
    text-align: left;
    width: 60%;
    margin-left: 1rem;
    padding-top: 30px;
}